*{
    margin: 0;
    padding: 0;
    
}

.header{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../images/eldenringshop.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header h3{
  color: #56CCF2;
}
.logoround img{
    width: 50px;
    border-radius: 70%;
    border: 20px ;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;

}
.navlinks{
    flex: 1;
    text-align: right;

}

.text-box{
    width: 80%;
    color: antiquewhite;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 15px;
}
.text-box h1{
    font-size: 60px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 13px;
    color: antiquewhite;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    padding: 12px 36px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn :hover{
    border: 1px solid #d38e89 ;
    background: #d38e89;
    transition: 1s ;
}
nav .fa{
    display: none;
}
.icon{
    color: antiquewhite;
}

.navlinks{
    flex: 1;
    text-align: right;

}
.navlinks ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position : relative ;
}
.navlinks ul li a{
    color: antiquewhite;
    text-decoration: none ;
    font-size: 13px;
}
.navlinks ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #d38e89;
    display: block;
    margin: auto;
}



li {
    list-style: none;
  }
  
  /* header */



  nav {
    padding: 15px;
    width: 100%;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../images/eldenringshop.png);
  }
  
  nav .content-nav {
    display: flex;
    line-height: 2rem;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
  }
  
  nav .content-nav ul {
    display: flex;
  }
  
  nav .content-nav ul li a {
    text-decoration: none;
    color:rosybrown;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: 800;
  }
  
  nav .content-nav ul li a:hover {
    color: #fff;
  }
  
  .content-nav form {
    position: relative;
  }
  
  .content-nav form input {
    border: none;
    background: #fff;
    padding: 7px;
    outline: none;
    border-radius: 12px;
  }
  
  .content-nav form button {
    padding: 5px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 2px;
    border: none;
    outline: none;
    background: #fff;
  }
  
  /* modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  
  }
  
  .modal-body {
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  .modal-footer>:not(:first-child) {
    margin-left: .25rem;
  }
  
  .btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
  }
  
  .btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
  }
  
  .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  h5.modal-title {
    font-size: 1.5rem;
  }
  
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #cart {
    font-size: 15px;
    color: #fff;
    background: #7903e7;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
  }
  
  #cart:hover {
    border-color: #fff;
  }

  /* cart */
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 45%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
  }
  
  .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  

  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  
 
 


/* wrapper */
.wrapper {
    padding: 2rem;
  }
  
  .products ul {
    display: inline-block;
  }
  
  .products ul .main-product {
    margin-bottom: 2rem;
    margin-right: 1rem;
    display: block;
    float: left;
    width: 24%;
  }
  
  .products ul .no-margin {
    margin-right: 0;
  }
  
  .products ul .img-product img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .content-product .content-product-h3 {
    padding: .5rem 0;
    overflow: hidden;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    max-height: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 19px;
    margin: 0 0 5px;
  }
  
  .content-product .content-product-deltals {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  
  .main-product .content-product .content-product-deltals .price {
    color: #740ee7;
    font-weight: 700;
    margin-right: 1rem;
    vertical-align: middle;
    font-size: 20px;
  }
  
  .content-product .content-product-deltals .price .money {
    vertical-align: middle;
  }
  
  .content-product .content-product-deltals .btn-cart {
    background: #8c11f1;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
  }
  
  .content-product .content-product-deltals .btn-cart:hover {
    background: #5909ee;
  }
  





/**/
.event{
    background-color: black;
}


.heading{
    text-align: center;
    font-size: 100px;
    color: #F2E878;
    padding: 1rem;
    margin: 2rem 0;
    font-family :"Lavishly Yours"
}

.heading span {
    color: var(--#10FBFB);
}

.event .dong{
    display:  flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.event .dong .img-container{
    flex : 1 1 40rem;
    position: relative;
}

.event .dong .img-container img{
    width: 80%;
    border:  1.5rem solid white;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
    
}

.event .dong .img-container h3{
    position: absolute;
    top: 50%  ; transform: translateY(-50%);
}
.event .dong .dong-content{
    flex: 1 1 40rem;
}
.event .dong .dong-content p{
    font-size: 2rem;
    color: rgb(248, 246, 238);
    font-family: "La Belle Aurore",cursive;

}




.review .box-review{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-review .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
 
}

.review .box-review .box .user-quote{
    position: absolute;
    bottom: 3rem ; right: 3rem ;
    font-size: 6rem;
    color: white;

}

.review .box-review .box .user-review{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-review .box .star i{
    color: var(--pink);
    font-size: 2rem;
}

.review .box-review .box p{
    color: #999;
    font-size: 1.5rem;
    line-height:  1.5;
    padding-top: 2rem;
}

.review .box-review .box .user-review img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
.review .box-review .box .user-review h3{
    font-size: 2rem;
    color: #333;

}




.container{
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}



.gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
}

.gallery img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 7px rgba(68,77,136,0.2);
}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;    
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 1000px ;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;;
}

